.assignment{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.ongoing{
    
    width: 45%;
    padding: 20px 20px;
}
.due{
    width: 45%;
    padding: 20px 20px;
}
