.header{
    display: flex;
    justify-content: flex-end;
    
    align-items: center;
    padding: 30px 10%;
    background-color: lightgray;
    
}
.logo{
    
    margin-right: auto;
}
.links{
    color: black;
}

.header button{
    padding: 9px 25px;
    
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: auto;
    

}
.header button:hover{
    background-color: rgba(51, 51, 51, 0.5);
}