table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  .searchfield{
    height: 50px;
    width: 95%;
    margin: 30px auto;
    position: relative;
    
    
  }
  .searchfield input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
  }
  .searchfield input:focus,
  .searchfield input:valid
  {
    border-color: #4158d0;
  }
  .searchfield label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    
    
  }
  .searchfield input:focus ~label,
  .searchfield input:valid ~ label
  {
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
    

  }



  
  .hiddenCB .checkboxes{
    display: flex;
    margin: 30px auto;
    padding: 0;
    list-style: none;
    justify-content: center;
    
    

  }
  
  .hiddenCB input[type="checkbox"],
  .hiddenCB input[type="radio"] {
    display: none;
    
  }
  
  .hiddenCB label {
    margin: 10px;
    cursor: pointer;
    padding: 4px 6px;
    line-height: 190%;
    outline-style: none;
    transition: all .6s;
    border-radius: 15px;
    transform: translateY(-150%);
  }
  
  .hiddenCB input[type="checkbox"]+label:hover{
    background: rgba(0, 128, 128, .8);
  }
  
  .hiddenCB input[type="checkbox"]:checked+label {
    background: rgba(0, 128, 128, .4);
  }
  
  .hiddenCB input[type="checkbox"]:checked+label:hover{
    background: rgba(0, 128, 128, 0, .7);
  }