.notiboard{
    display: flex;
    justify-content: space-around;
}
.notiboard h1{
    font-size: large;
    margin-bottom: 20px;
}


.plan-item{
    display: flex;
    
}
.plan-item > * {
    margin: 20px;
    padding: 15px;
    
}
.plan-item .content{
    width: 75%;
}
.plan-item .datetime{
    background-color: #eeeeee;
}

.create-plan{
    margin-left:  50px;
    width: 40%;
}

.create-plan textarea {
    width: 100%;
    height: 220px;
    margin-top: 20px;
    box-sizing: border-box;
    background: gainsboro;
    padding: 10px;
  }
  