.enrol{
    display: flex;
    
    justify-content: space-around;
    
}
.enrol a{
    margin-left: auto;
}
.enrol h1{
    font-size: 2em;
    padding: 20px;
}

.courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}
.courses > div{
    width: 20%;
    
    padding: 20px;
}