.minicard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s ease-out;
    border-radius: 15px;
    
    width:90%;
    height: 20%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
  }
  
  /* On mouse-over, add a deeper shadow */
  .minicard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .minicard-info {
      text-align: center;
      margin: 40px auto;


  }

