.uploader-layout {
    width: 100%;
    display: grid;
    place-items: center;
    background: #F5F8FF;
}
.uploader-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 36px 48px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    text-align: center;
    
}
.uploader-container p{
    margin-top: -10px;
    color: #777;
}
.box-upload {
    display: grid;
    margin-top: 20px;
    place-items: center;
    border: 1px dashed #799CD9;
    /* padding: 36px 48px; */
    position: relative;
    height: 350px;
    width: 350px;
    background: #FBFBFF;
    border-radius: 20px;
    
}
.image-upload{
    display: flex;
        flex-wrap:wrap;
}
.image-upload label{
    cursor: pointer;
        
            
}
.image-upload label:hover{
    opacity: .8;
}
.image-upload >input {
    display: none;
}
.image-preview{
    position: relative;
    /* cursor: pointer; */
    
    
}
.image-preview #uploaded-image{
    height: 350px;
    width: 350px;
    object-fit: cover;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}
.image-preview .close-icon{
    background: #000;
    border-radius: 5px;
    opacity: .8;
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 20px;
    cursor: pointer;
    
}
.image-preview .close-icon:hover{
    opacity: 1;
    
}