.admin{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.admin p{
    text-align: center;
    margin: 50px;
    font-weight: 900;
}
.new-lists
{
    width: 80%;
    height: 200px;
    margin: auto;
    overflow: scroll;
}
